{%  extends 'Main.html'%}
{%  block title %}Title{% endblock %}

{% block head %} Saisie d'un nouveau Club{% endblock %}

{%  block content  %}
    <a href="/football" > Liste des clubs </a>

         {% if id != "" %}
                <form method="post" action ="/football/updatetraitement/{{id}}/">
         {% else %}
                <form method="post" action="/football/traitement/">
         {% endif %}
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="envoyer les données"\>
    </form>
{% endblock %}